body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

nav {
  display: flex;
  height: 65px;
  padding: 0px 10px;
  margin: 0px;
  background-color: #D25800;
  justify-content: space-between;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: flex-end;
  margin: 0 ;
  padding: 0;
  list-style-type: none;
}

.navbar__button {
  background-color: #D25800;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 2px;
  cursor: pointer;
}

/* Using display grid for general website layout */

main {
  display: grid;
  grid-template-columns:  repeat(12, auto);
  grid-template-rows:  repeat(3, auto);
  border: solid;
}

/* setting hero section to be 60% horizontally and rest 40% */ 

.hero-section {
  display: flex;
  background-color: #f0f0f0;
  border: solid;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  border: solid;
  
}

.hero-section__image {
  
  object-fit: cover;
  opacity: 0.5;
}

.about-section {
  background-color: #ddd;
  border: solid;
  grid-column: 1 / 13;
  grid-row: 2 / 3;
}

.signup-section {
  text-align: center;
  border: solid;
  grid-column: 1 / 13;
  grid-row: 3 / 4;
}

.signup-section__button {
  background-color: red;
}
