body { 
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  background-color: #f4f4f4; 
  margin: 0; 
  padding: 0; 
  font-size: 16px; 
  color: #333; 
  height: 1600px;
} 

main { 
  padding: 40px; 
  margin-top: 100px;
}

img { 
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
  opacity: 0.5;
} 

/* NAVBAR */

nav {
  overflow: hidden;
  background-color: #D25800;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  gap: 14px;
  padding-right: 10px;
}

nav a {
  display: flex;
  float: right;
  display: block;
  border-radius: 4px;
  color: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 15px 24px;
  text-decoration: none;
  font-size: 22px;
}

button {
  cursor: pointer;
}

nav a:hover {
  background: #8c3a00;
  color: black;
}

/* SEARCHBAR */

.search-container {
  overflow: hidden;
  background-color: #aaa;
  position: fixed;
  top: 75px;
  width: 100%;
}

.search-container input[type=text] {
  float: left;
  color: #f2f2f2;
  padding: 8px; 
  font-size: 16px; 
  border: 1px solid #ddd; 
  border-radius: 2px; 
  margin: 5px 0px 5px 5px; 
}

.search-container__button {
  float: left;
  padding: 8px; 
  font-size: 16px; 
  border: 1px solid #ddd; 
  border-radius: 2px; 
  margin: 5px 5px 5px 0px;
 
}

.search-container__button:hover {
  background: #ccc;
  cursor: pointer;
 
  
}



/* CLASSES */

.classes-container { 
  display: grid;
  grid-template-columns: repeat(12,auto);
  grid-template-rows: repeat(12,auto);
  gap: 40px;
  border: solid; 
}

.classes-container__class { 
  display: flex;
  height: 230px;
}

.box1__image, .box2__image, .box3__image, .box4__image, .box5__image, .box6__image {
  border: solid;
  overflow: hidden;
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1__description, .box2__description, .box3__description, .box4__description, .box5__description, .box6__description {
display: flex;
width: 50%;
flex-direction: column;
justify-content: space-between;
border:solid pink;
padding: 10px;
}

.box1__description button, .box2__description button, .box3__description button, .box4__description button, .box5__description button, .box6__description button {
width: 20%;
height: 20%;
border-radius: 20px;
background-color: #D25800;
color: black;
font-size: large;
font-weight: bold;
float: right;
  } 
  
  button:hover {

   background-color: #8c3a00;

  }

  .box1__title, .box2__title, .box3__title, .box4__title, .box5__title, .box6__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 1;
  }



.box1 {
  display: flex;
  grid-column: 1 / 7;
  grid-row: 1 / 5;
  border: solid;
}

.box2 {
  grid-column: 7 / 13;
  grid-row: 1 / 5;
  border: solid;
 
}

.box3 {
  grid-column: 1 / 7;
  grid-row: 5 / 9;
  border: solid;

}

.box4 {
  grid-column: 7 / 13;
  grid-row: 5 / 9;
  border: solid;

}

.box5 {
  grid-column: 1 / 7;
  grid-row: 9 / 13;
  border: solid;

}

.box6 {
  grid-column: 7 / 13;
  grid-row: 9 / 13;
  border: solid;

}