body { 
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  background-color: #f4f4f4; 
  margin: 0; 
  padding: 0; 
  font-size: 16px; 
  color: #333; 
} 

main { 
  padding: 40px; 
} 
img { 
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
  opacity: 0.5;
} 

/* NAVBAR */

nav {
  display: flex;
  height: 65px;
  padding: 0px 10px;
  margin: 0px;
  background-color: #4caf50;
  justify-content: space-between;
}

.navbar {
  align-items: center;
  display: flex;
  padding: px;
  justify-content: flex-end;
  margin: 0 ;
  padding: 0;
  list-style-type: none;
}

.navButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px;
  cursor: pointer;
}


/* SEARCH BAR */

.search-container{
  display: flex;
  height: 55px;
  margin: 0px;
  background-color: #3d8a3f;
  align-items: center;
}

.search-bar input[type=text] {
  display: flex;
  padding: 8px;
  font-size: 15px;
  margin-left: 16px;
  border: none;
}

.search-container button {
  padding: 8px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.search-container button:hover {
  background-color: #b4b4b4;
}


/* SESSIONS */

.sessions-container { 
  display: grid;
  grid-template-columns: (12,auto);
  grid-template-rows: (12,auto);
  gap: 25px;
  border: solid; 
}

.sessions-container__session { 
  display: flex;
  height: 200px;
}

.box1__image, .box2__image, .box3__image, .box4__image, .box5__image, .box6__image {
  border: solid;
  overflow: hidden;
  width: 50%;
  background-color: black;
}






.box1 {
  display: flex;
  grid-column: 1 / 7;
  grid-row: 1 / 5;
  border: solid;
}

.box2 {
  grid-column: 7 / 13;
  grid-row: 1 / 5;
  border: solid;
 
}

.box3 {
  grid-column: 1 / 7;
  grid-row: 5 / 9;
  border: solid;

}

.box4 {
  grid-column: 7 / 13;
  grid-row: 5 / 9;
  border: solid;

}

.box5 {
  grid-column: 1 / 7;
  grid-row: 9 / 13;
  border: solid;

}

.box6 {
  grid-column: 7 / 13;
  grid-row: 9 / 13;
  border: solid;

}