<!--
LOGIN PAGE ACCESSIBLE BY BOTH STUDENT AND EMPLOYER
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home-page.css" />
    <title>Home Page</title>
  </head>

  <body>
    
    <nav class="nav">
        <ul class="navbar">
            
            <li> <a href="\templates\index.html" class="navbar__button"> index.html </a>  </li>
            <li> <a href="\templates\home.html" class="navbar__button"> home.html </a>  </li>
            <li> <a href="\templates\listings.html" class="navbar__button"> listings.html </a>  </li>
            <li> <a href="\templates\profileAdmin.html" class="navbar__button"> profileAdmin.html </a>  </li>
            <li> <a href="\templates\profileStandard.html" class="navbar__button"> profileStandard.html </a> </li>
            <li> <a href="\templates\signIn.html" class="navbar__button"> signIn.html </a> </li>
            
          </ul>
      </nav>

    <main>
      <div class="hero-section">
        <img class="hero-section__image" src="/static/images/HomePageImage.jpg" alt="home page image">
      </div>

      <div class="about-section">
        <h2>About Us</h2>
      </div>

      <div class="signup-btn-section">
        <button class="signup-section__button">Sign Up</button>
      </div>
    </main>
  </body>
</html>
