<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home-page.css" />
    <title>Home Page</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="nav">
      <div class="title"></div>
      <ul class="navbar">
        <li>
          <a
            href="http://127.0.0.1:5500/templates/index.html"
            class="navButton "
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="http://127.0.0.1:5500/templates/signIn.html"
            class="navButton"
          >
            Login
          </a>
        </li>
        <li>
          <a href="http://127.0.0.1:5500/templates/signUp.html" 
          class="navButton">
            Registration
          </a>
        </li>
        <li>
          <a href="http://127.0.0.1:5500/templates/profileStandard.html" 
          class="navButton">
            profileS
          </a>
        </li>
        <li>
          <a href="http://127.0.0.1:5500/templates/profileAdmin.html" 
          class="navButton">
            profileA
          </a>
        </li>
        <li>
          <a href="http://127.0.0.1:5500/templates/listings.html" 
          class="navButton">
            listings
          </a>
        </li>
        <li>
          <a href="" 
          class="navButton">
            Logout (X)
          </a>
        </li>
      </ul>
    </nav>



    <!-- SEARCH BAR & SEARCH BUTTON -->
    <div class="search-container">
      <div class="search-bar">
        <form>
          <input id="searchQuery" type="text" placeholder="Search jobs..." />
        </form>
      </div>
    </div>

    <!--   MAIN BODY -->
    <main>
      <!-- SESSIONS -->

      <div class="sessions-container">

        <div class="sessions-container__session box1">
          
          <div class="box1__image"><img src="/static/images/FINAL_Swimming.webp"/></div>
          <div class="box1__title"></div>
          <div class="box1__description"></div>

        </div>

        <div class="sessions-container__session box2">

          <div class="box2__image"><img src="/static/images/5-A-side.jpg" /></div>
          <div class="box2__title"></div>
          <div class="box2__description"></div>
          
        </div>

        <div class="sessions-container__session box3">
          
          <div class="box3__image"><img src="/static/images/sports massage.webp"/></div>
          <div class="box3__title"></div>
          <div class="box3__description"></div>

        </div>
 
        <div class="sessions-container__session box4">
          
          <div class="box4__image"><img src="/static/images/tdslyl0pptzs6vst4uq5.webp"/></div>
          <div class="box4__title"></div>
          <div class="box4__description"></div>

        </div>

        <div class="sessions-container__session box5">
          
          <div class="box5__image"><img src="/static/images/football.jpg" /></div>
          <div class="box5__title"></div>
          <div class="box5__description"></div>
          
        </div>

        <div class="sessions-container__session box6">
          
          <div class="box6__image"><img src="/static/images/tennis_racket_balls_ss_0618_noexp_620x400.webp"/></div>
          <div class="box6__title"></div>
          <div class="box6__description"></div>

        </div>

      </div>

    </main>

  </body>
</html>
