<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/listings.css" />
    <title>Home Page</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </div>>



    <!-- SEARCH BAR & SEARCH BUTTON -->
    <div class="search-container">
      <div class="search-bar">
        <form>
          <input id="searchQuery" type="text" placeholder="Search jobs..." />
        </form>
      </div>
    </div>

    <!--   MAIN BODY -->
    <main>
      <!-- SESSIONS -->

      <div class="classes-container">

        <div class="classes-container__class box1">
          
          <div class="box1__image"><div class="box1__title">Swimming</div><img src="/static/images/FINAL_Swimming.webp"/></div>
          <div class="box1__description">Swimming Class</div>
           <button class="book-button">Book</button>

        </div>

        <div class="classes-container__class box2">

          <div class="box2__image"> <div class="box2__title">5-A-side</div><img src="/static/images/5-A-side.jpg" /></div>
          <div class="box2__description"></div>
          <button class="book-button">Book</button>
          
        </div>

        <div class="classes-container__class box3">
          
          <div class="box3__image"><div class="box3__title">Massage</div><img src="/static/images/sports massage.webp"/></div>
          <div class="box3__description"></div>
          <button class="">Delete</button>

        </div>
 
        <div class="classes-container__class box4">
          
          <div class="box4__image"><div class="box4__title">Badminton</div><img src="/static/images/tdslyl0pptzs6vst4uq5.webp"/></div>   
          <div class="box4__description"></div>
          <button class="book-button">Book</button>

        </div>

        <div class="classes-container__class box5">
          
          <div class="box5__image"><div class="box5__title">Football</div><img src="/static/images/football.jpg" /></div>
          <div class="box5__description"></div>
          <button class="book-button">Book</button>
          
        </div>

        <div class="classes-container__class box6">
          
          <div class="box6__image"><div class="box6__title">Tennis</div><img src="/static/images/tennis_racket_balls_ss_0618_noexp_620x400.webp"/></div>
          <div class="box6__title"></div>
          <div class="box6__description"></div>

          <button class="book-button">Book</button>

        </div>


        <div class="new-listing">
          <form>            
              <input type="title" name="name" placeholder="Class Name...">

              <input type="desc" name="desc" placeholder="Class Description..." required>

              <input type="password" name="time" placeholder="Class time" required>

              <button id="desc">create new listing</button>
            </form>
        </div>

      </div>

    </main>

  </body>
</html>