<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/profile-S.css">
   <title>Account Page</title> 
  </head>

  <body>

    <!-- NAVBAR -->

    <nav>
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </nav>
    


    <!--   MAIN BODY -->
    <main>


      <!-- ABOUT SECTIO -->
      
      <div class="account-Section" id="account-Section">

        
        <div class="accountBox">  
              <form>
                <div class="about"></div>

                <h1>Account</h1>
                  
                  <label>Username:</label>
                  <input type="username" name="username" placeholder="Username...">
                  <label>Full Name:</label>
                  <input type="fullname" name="fullname" placeholder="Full name...">
                  <label>Email:</label>
                  <input type="email" name="email" placeholder="Email...">
                  <label>Phone Number:</label>
                  <input type="phoneNumber" name="phoneNumber" placeholder="Phone number...">

                  
                  <div class="account-Section__button-container">

                    <button id="save">SAVE CHANGES</button>  
                    <button id="delete">DELETE ACCOUNT</button>

                  </div>
              </form>
          </div>
        
        
      </div>  

      
    </main>
  </body>


</html>