<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/profile-A.css">
   <title>Account Page</title> 
  </head>

  <body>

    <!-- NAVBAR -->

    <!-- NAVBAR -->
    <nav>
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </nav>

    <div class="search-container">
      <form >
        <input id="searchQuery" type="text" placeholder="Search jobs..." />
      </form>
    </div>
    


    <!--   MAIN BODY -->
    <main>


      <!-- ABOUT SECTIO -->
      


      
    </main>
  </body>


</html>