<!--
LOGIN PAGE ACCESSIBLE BY BOTH STUDENT AND EMPLOYER
-->

<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/registration.css">
    <title>Login Page</title>
</head>
  
<body>
  
  <div class="reg-container">
    
    <div class="title"></div>
    
    <form>
      
    <select name="type" id="type">
      <option value="student">Student</option>
      <option value="company">Company</option>
    </select>
    
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="cpassword" placeholder="Confirm Password">
      <button id="register">Register Account</button>
    </form>

  </div>
</body>
  <!-- LINKING JS AND JSON FILES -->
  
</html>