<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/user-home.css" />
    <title>Home Page</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav>
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </nav>

    <div class="search-container">
      <form >
        <input id="searchQuery" type="text" placeholder="Search jobs..." />
        <button class="search-container__button">Search </button>
      </form>
    </div>



    <!-- SEARCH BAR & SEARCH BUTTON -->
    <div class="search-container">
      <div class="search-bar">
        <form>
          <input id="searchQuery" type="text" placeholder="Search jobs..." />
        </form>
      </div>
    </div>

    <!--   MAIN BODY -->
    <main>
      <!-- SESSIONS -->

      <div class="sessions-container">

        <div class="sessions-container__session box1">
          
          <div class="box1__image"><div class="box1__title">Swimming</div><img src="/static/images/FINAL_Swimming.webp"/></div>
          <div class="box1__description">Swimming Class<br/> 
            Location: Littledown<br/>
            Time: 7-9PM<br/>
            Descritpion: For experienced and<br/>
            beginners<br/>
            
        </div>
           <button class="book-button">Book</button>

        </div>

        <div class="sessions-container__session box2">

          <div class="box2__image"> <div class="box2__title">5-A-side</div><img src="/static/images/5-A-side.jpg" /></div>
          <div class="box2__description">5-A-side<br/>
          Location: Littledown<br/>
          Time: 6-10pm<br/>
          Description: Play against teams<br/>
          every week to get to <br/>
          the top of the league<br/>
        </div>
          <button class="book-button">Book</button>
          
        </div>

        <div class="sessions-container__session box3">
          
          <div class="box3__image"><div class="box3__title">Massage</div><img src="/static/images/sports massage.webp"/></div>
          <div class="box3__description">Massage<br/>
          
            Time: See Bookings<br/>
            Description: Book with one<br/>
            of trained employees<br/>
            
            
            
            </div>
          <button class="book-button">Book</button>

        </div>
 
        <div class="sessions-container__session box4">
          
          <div class="box4__image"><div class="box4__title">Badminton</div><img src="/static/images/tdslyl0pptzs6vst4uq5.webp"/></div>   
          <div class="box4__description">Badminton<br/>
            Location: Littledown<br/>
            Time:See Booking<br/>
            Description: Play in one<br/>
            of our badminton courts<br/>


          </div>
          <button class="book-button">Book</button>

        </div>

        <div class="sessions-container__session box5">
          
          <div class="box5__image"><div class="box5__title">Football</div><img src="/static/images/football.jpg" /></div>
          <div class="box5__description">Football<br/>
            Location: Littledown<br/>
            Time: 5-11pm<br/>
            Description: Join or create <br/>
            a 11-A-Side team<br/>


          </div>
          <button class="book-button">Book</button>
          
        </div>

        <div class="sessions-container__session box6">
          
          <div class="box6__image"><div class="box6__title">Tennis</div><img src="/static/images/tennis_racket_balls_ss_0618_noexp_620x400.webp"/></div>
          <div class="box6__description">Tennis
            Location: Littledown<br/>
            Time: 5-11pm<br/>
            Description: Play in one of our<br/>
            courts<br/>
          </div>

          <button class="book-button">Book</button>

        </div>

      </div>

    </main>

  </body>
</html>